{% extends 'hod_base.html' %}
{% load static %}

{% block content %}

<main id="main" class="main">
    <div class="pagetitle">
        <a href="{% url 'add_staff' %}"><button class="btn btn-primary btn-sm" style="float: right;"><i class="bi bi-person-plus"></i> Add Faculty</button></a>
        <h1>Faculties</h1>
        

     </div><!-- End Page Title -->
     <div class="card">
         <div class="card-body">
             <br>
             
                 
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">

                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            <div class="row">
    <br/>
  <br/>
  <br><br>
  <table class="datatable">
      <br>
    <thead>
    <tr>
        <th>SI NO</th>
        <th>FACULTY ID</th>
        <th>FULL NAME</th>
        <th>PHONE NO</th>
        <th>E-MAIL</th>
        

       <!-- <th>AICTE ID</th>
        
        -->
         <th colspan="2"></th>
        


    </tr>
</thead>
<tbody>
    {% for i in staff_data %}

        <tr>
          <td >{{ forloop.counter }}</td>
          <td >{{ i.Faculty_unique_id }}</td>
          <td >{{ i.First_name }} {{i.Last_name}}</td>
          <td >{{ i.phone_no }}</td>
          <td >{{ i.email }}</td>
          <!--<td>{{ i.AICTE_unique_Id }}</td>
          -->
          
         


        </tr>
    {% endfor %}
</tbody>
</table>
  
         </div>
     </div>
    </div>
</main>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/><br/><br/><br/><br/><br/>




  {% endblock %}

